body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: #A44A3F;
	transition: background-color 0.8s ease;
}

.modal {
	max-width: 600px;
	border: 2px solid black;
	position: relative;
	margin: auto;
  width: 50%;
	margin-top: 200px;
}